body {
  font-family: "Sofia", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing:antialiased;
  line-height:1.6;
  background-color: #292a30;
  color: white;
}

.portfolio-body {
  background-color: #f2f2f2;
  color: black;
  margin-top: 30vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #67efd2;
  transition: 1s;
}

::selection {
  background: #67efd2;
}
::-moz-selection {
  background: #67efd2;
}

.code-text {
  font-weight: lighter;
  font-size: 25px;
}

.func-keyword {
  color: #ff60a3;
}

.struct-keyword {
  color: #ff60a3;
}

.init-keyword {
  color: #98e263;
}

.print-keyword {
  color: #67efd2;
}

.print-text {
  color: #fd8273;
}

.welcome-section {
  width: 80vw;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.main-text {
  font-size: 18px;
  margin-left: 20px;
}

.portfolio-section {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-section h1 {
  font-weight: lighter;
  font-size: 25px;
}

.portfolio-section__item {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.portfolio-section__item h3 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

.portfolio-section__item p {
  margin: 0;
}

.portfolio-section__item img {
  width: 100%;
  margin-top: 40px;
}

.portfolio-section__item__video {
  width: 100%;
  margin-top: 40px;
}

/* All the CSS for the individual project pages */
.project-body {
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  margin-top: 15vh;
}

.project-body h1 {
  font-weight: lighter;
  font-size: 25px;
}

.project-section__left {
  width: 100%;
}

.project-section__left img {
  height: 80px;
}

.project-section__right {
  width: 100%;
}

.project-section__right img {
  width: 100%;
}

.project-section__right video {
  width: 100%;
  height: auto;
}

/* For ipads and other tablets */
@media only screen and (min-width: 768px) {

  .welcome-section {
    width: 55vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-section {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-section__item img {
    width: 100%;
    margin-top: 60px;
  }

  .portfolio-section__item__video {
    width: 100%;
    margin-top: 60px;
    transition: all .2s ease-in-out;
  }

  .portfolio-section__item__video:hover {
    transform: scale(1.02);
  }

  .portfolio-section__item h3 {
    font-size: 50px;
  }

  .portfolio-section__item p {
    font-size: 25px;
  }

  /* All the CSS for the individual project pages */
  .project-body {
    width: 75vw;
    background-color: #f2f2f2;
    color: black;
    margin-top: 15vh;
  }

  .project-section__left {
    width: 45%;
    float: left;
  }

  .project-section__right {
    width: 45%;
    float: right;
  }

  .project-section__right img {
    width: 75%;
    margin: auto;
    display: block;
  }

  .project-section__right video {
    width: 75%;
    height: auto;
    margin: auto;
    display: block;
  }

}

/* For laptops and desktops */
@media only screen and (min-width: 1200px) {

  .welcome-section {
    width: 30vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-section {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-section__item img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .portfolio-section__item__video {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  /* All the CSS for the individual project pages */
  .project-body {
    width: 50vw;
  }

  .project-section__right video {
    width: 75%;
    height: auto;
    margin: auto;
    display: block;
  }
}

/* only for the app store logo lol */
@media only screen and (min-width: 1500px) {

}
